# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: Build

on:
  # This workflow is designed to be called by other workflows.
  workflow_call:
    inputs:
      git_ref:
        description: 'The Git reference (e.g., branch or tag) to checkout'
        required: true
        type: string
      version_string:
        description: 'Version string for the artifact name'
        required: true
        type: string
    outputs:
      artifact_name:
        description: 'The name of the generated package file (e.g., test.zip)'
        value: ${{ jobs.build_package.outputs.package_name }}

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: windows-latest
    outputs:
      artifact_id: ${{ steps.upload-artifact.outputs.artifact_id }}
    defaults:
      run:
        shell: msys2 {0} # This sets the default shell for subsequent steps to MSYS2

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        ref: ${{ inputs.git_ref }} # Use the reference passed from the calling workflow

    - name: Cache MSYS2
      uses: actions/cache@v4
      with:
        path: C:\msys64 # Or wherever MSYS2 is installed
        key: ${{ runner.os }}-msys2-gtk3 # Or a more appropriate key
    
    - uses: msys2/setup-msys2@v2 # Setup MSYS2 environment
      with:
        msystem: UCRT64 # Or MINGW64, MINGW32, etc. depending on your target
        update: true
        install: git zip mingw-w64-ucrt-x86_64-toolchain base-devel mingw-w64-ucrt-x86_64-ntldd mingw-w64-ucrt-x86_64-gnome-common git make automake autoconf libtool yelp-tools mingw-w64-ucrt-x86_64-gtk3 mingw-w64-ucrt-x86_64-itstool mingw-w64-ucrt-x86_64-gettext msys2-runtime-devel

    - name: Run Bash Script
      run: |
        echo "Running build.sh..."
        chmod +x ./build.sh # Make the script executable
        ./build.sh # Execute your Bash script

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      id: upload-artifact
      with:
        name: build-binary-${{ inputs.version_string }}
        path: ./dist/*.zip # Upload the generated ZIP file
        retention-days: 1

